.rw-tooltip-root {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.rw-tooltip {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2000;
}

.rw-tooltip-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.1;
    z-index: 2000;
}

.rw-tooltip-inner {
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
}

.rw-tooltip-title {
    min-width: 177px;
    min-height: 32px;
    margin: 0;
    padding: 5px 16px 4px;
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: border-box;
}

.rw-tooltip-content {
    padding: 12px 16px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .65);
}

.rw-tooltip-arrow {
    position: absolute;
    display: block;
    width: 8.48528137px;
    height: 8.48528137px;
    background: 0 0;
    border-style: solid;
    border-width: 4.24264069px;
    transform: rotate(45deg);
    box-sizing: border-box;
}

.rw-tooltip-placement-top>.rw-tooltip-arrow,
.rw-tooltip-placement-top-left>.rw-tooltip-arrow,
.rw-tooltip-placement-top-right>.rw-tooltip-arrow {
    bottom: -3px;
    border-top-color: transparent;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-left-color: transparent;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .07);
}

.rw-tooltip-placement-bottom>.rw-tooltip-arrow,
.rw-tooltip-placement-bottom-left>.rw-tooltip-arrow,
.rw-tooltip-placement-bottom-right>.rw-tooltip-arrow {
    top: -3px;
    border-top-color: #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #fff;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, .06);
}

.rw-tooltip-placement-left>.rw-tooltip-arrow,
.rw-tooltip-placement-left-top>.rw-tooltip-arrow,
.rw-tooltip-placement-left-bottom>.rw-tooltip-arrow {
    right: -3px;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: transparent;
    border-left-color: transparent;
    box-shadow: 3px -3px 7px rgba(0, 0, 0, .07);
}

.rw-tooltip-placement-right>.rw-tooltip-arrow,
.rw-tooltip-placement-right-top>.rw-tooltip-arrow,
.rw-tooltip-placement-right-bottom>.rw-tooltip-arrow {
    left: -3px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
    box-shadow: -3px 3px 7px rgba(0, 0, 0, .07);
}


.rw-tooltip-placement-top-left>.rw-tooltip-arrow,
.rw-tooltip-placement-bottom-left>.rw-tooltip-arrow {
    left: 16px;
}

.rw-tooltip-placement-top>.rw-tooltip-arrow,
.rw-tooltip-placement-bottom>.rw-tooltip-arrow {
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.rw-tooltip-placement-top-right>.rw-tooltip-arrow,
.rw-tooltip-placement-bottom-right>.rw-tooltip-arrow {
    right: 16px;
}

.rw-tooltip-placement-left-top>.rw-tooltip-arrow,
.rw-tooltip-placement-right-top>.rw-tooltip-arrow {
    top: 12px;
}

.rw-tooltip-placement-left>.rw-tooltip-arrow,
.rw-tooltip-placement-right>.rw-tooltip-arrow {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.rw-tooltip-placement-left-bottom>.rw-tooltip-arrow,
.rw-tooltip-placement-right-bottom>.rw-tooltip-arrow {
    bottom: 12px;
}